@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

@import "tailwindcss";

@theme inline {
  /* Fonts */
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  /* Colors */
  --color-background: oklch(95.44% 0.0032 15.35);
  --color-foreground: oklch(25% 0 0);

  --color-primary: oklch(69.54% 0.1075 218.03);
  --color-primary-foreground: oklch(98% 0 0);

  --color-accent: oklch(67.38% 0.1539 354.79);
  --color-accent-foreground: oklch(98% 0 0);

  --color-secondary: oklch(85% 0 0);
  --color-secondary-foreground: oklch(20% 0 0);

  --color-muted: oklch(75% 0 0);
  --color-muted-foreground: oklch(40% 0 0);

  --color-surface-light: oklch(97% 0 0);
  --color-surface: oklch(94% 0 0);
  --color-surface-dark: oklch(15% 0 0);
  --color-surface-dark-foreground: oklch(92% 0 0);

  --color-border: oklch(75% 0 0);
  --color-border-light: oklch(88% 0 0);
  --color-border-strong: oklch(45% 0 0);

  --color-input: oklch(15% 0 0);
  --color-input-foreground: oklch(77.79% 0.0022 15.03);

  --color-success: oklch(73% 0.18 145);
  --color-success-foreground: oklch(98% 0.01 145);

  --color-error: oklch(65% 0.21 27);
  --color-error-foreground: oklch(98% 0.01 27);

  /* Animations */
  --animate-float: float 6s ease-in-out infinite;
  --animate-slide-up: slide-up 1s ease-out both;
  --animate-slide-down: slide-down 1s ease-out both;
  --animate-fade-up: fade-up 1s ease-out both;
  --animate-fade-in: fade-in 1s ease-out both;
  --animate-slide-right: slide-right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    both;
  --animate-slide-left: slide-left 1s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    both;
  --animate-fade-right: fade-right 1s ease-out both;
  --animate-fade-left: fade-left 1s ease-out both;

  /* Keyframes */
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes slide-right {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slide-left {
    from {
      opacity: 0;
      transform: translateX(50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-60px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(60px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-right {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fade-left {
    from {
      opacity: 0;
      transform: translateX(50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@layer {
  html {
    @apply scroll-smooth antialiased;
  }
  body {
    @apply font-inter text-foreground bg-background min-h-screen;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-roboto;
  }
  h1 {
    @apply min-md:text-5xl text-4xl font-black tracking-tight;
  }
  h2 {
    @apply min-md:text-4xl text-3xl font-bold tracking-tight;
  }
  h3 {
    @apply font-semibold tracking-tight text-primary;
  }
  h4 {
    @apply font-semibold tracking-wide;
  }
}
