---
import { InView } from "@/components";
import { Image } from "astro:assets";
---

<section class="max-w-7xl mx-auto px-5 py-20">
  <div class="flex justify-center items-center max-lg:flex-col gap-5">
    <div class="flex-1 space-y-5 opacity-0" data-inview="animate-fade-up">
      <h2>Personalize Your Experience</h2>
      <p>
        At My Ranch, we understand that every event is unique and should reflect
        your personal style. That’s why we encourage customization and work
        closely with you to ensure that your event is tailored to your vision.
      </p>
      <p>
        Our goal is to create a seamless and stress-free experience for you and
        your guests, so you can relax and enjoy your special occasion to the
        fullest. So let your creativity flow and let’s bring your dream event to
        life together!
      </p>
    </div>
    <div class="flex-1 opacity-0" data-inview="animate-fade-up">
      <Image
        src="/g-09.webp"
        alt="party theme"
        width={805}
        height={500}
        class="rounded-lg shadow-2xl border border-border-light"
      />
    </div>
  </div>
  <InView />
</section>
