---
import { InView } from "@/components";
import { Image } from "astro:assets";
const images = [
  { src: "/g-01.webp" },
  { src: "/g-02.webp" },
  { src: "/g-03.webp" },
  { src: "/g-04.webp" },
  { src: "/g-05.webp" },
  { src: "/g-06.webp" },
  { src: "/g-07.webp" },
  { src: "/g-08.webp" },
  // { src: "/g-09.webp" },
  { src: "/g-10.webp" },
  { src: "/g-11.webp" },
];
---

<section
  class="py-20 transition-colors duration-1000"
  data-inview="bg-gray-950"
>
  <div class="max-w-7xl mx-auto px-5">
    <div class="columns-[410px] content-center space-x-3 space-y-3">
      {
        images.map((img) => (
          <Image
            src={img.src}
            alt=""
            width={805}
            height={500}
            loading="lazy"
            class="rounded-lg hover:opacity-80 opacity-0 hover:shadow-xl active:z-50"
            draggable="false"
            data-inview="animate-fade-up"
          />
        ))
      }
    </div>
  </div>
  <InView />
</section>
