---
import Logo from "@/assets/logo.svg";
---

<header class="absolute top-0 left-0 right-0 z-10 mx-10 mt-5">
  <div class="flex justify-between items-center max-sm:flex-col gap-5">
    <Logo class="fill-background w-[273px] h-[50px]" />
    <a href="tel:8183190948" class="text-background text-xl tracking-wider"
      >818-319-0948</a
    >
  </div>
</header>
