---
import { Button } from "@/components/ui";
---

<section class="w-full h-screen overflow-hidden">
  <div class="h-full flex flex-col items-center justify-center gap-5">
    <h1 class="animate-fade-right [animation-delay:200ms]">ADVENTURE AWAITS</h1>
    <p class="font-medium text-lg animate-fade-left [animation-delay:200ms]">
      Turn your events into lasting memories
    </p>
    <Button
      variant="primary"
      size="lg"
      rounded="full"
      className="animate-fade-up [animation-delay:500ms]"
      >Schedule Appointment</Button
    >
  </div>
</section>
