---
import {InView} from '@/components'
import { Button, Card } from "@/components/ui";
import Check from '@/assets/icons/check.svg';
import Box from '@/assets/icons/package.svg';

const packageItems = [
  {
    title: "Party Essentials",
    items: [
      "Enjoy Four Hours of Party Fun",
      "Package Accommodates Up to 50 Guests",
      "One Hour of Setup Time Provided",
    ],
  },
  {
    title: "Activities and Entertainment",
    items: [
      "Access to the Petting Zoo",
      "Access to Playground",
      "Access to Jumper",
    ],
  },
  {
    title: "Food and Refreshments",
    items: [
      "Delicious Pizza and Juice for the Kids",
      "Self-Serve Coffee and Tea Station (Cups and Creamer Included)",
    ],
  },
  {
    title: "Décor and Dining",
    items: [
      "Elegant Wooden Dining Tables and Acrylic Chiavari Chairs",
      "Includes Three Stylish Cake Stands",
    ],
  },
  {
    title: "Special Features",
    items: [
      "Memorable Cake Ceremony: Singing, Cutting, and Serving",
      "Convenient Transportation from Valet to Venue",
    ],
  },
];
---

<section id="package" class="bg-primary text-primary-foreground">
  <div class="max-w-7xl mx-auto pb-20 px-5 flex max-lg:flex-col max-lg:gap-5">
    <div class="flex-1 flex justify-center max-lg:order-last opacity-0 [animation-delay:300ms]" data-inview="animate-fade-up">
    <Card>
      <div class="space-y-2">
        {packageItems.map((section) => (
          <h3>{section.title}</h3>

          <ul>
            {section.items.map((item) => (
              <li class="flex items-center gap-2"><Check class="fill-accent stroke-surface size-[30px] flex-none" /><span class="text-sm ">{item}</span></li>
            ))}
          </ul>
          
        ))}
      </div>
    </Card>
    </div>
    <div class="flex-1 flex flex-col justify-center items-center max-lg:order-first">
      <Box class="size-15 opacity-0" data-inview="animate-fade-up" />
      <h2 class="opacity-0 [animation-delay:300ms]"  data-inview="animate-fade-up">Package</h2>
    </div>
  </div>
  <div class="flex justify-center pb-20">
      <Button variant='default' link href="/terms">Event Terms & Conditions</Button>
  </div>
  <InView />
</section>
