---
import {InView} from '@/components'
import { Button, Card } from "@/components/ui";
import Check from '@/assets/icons/check.svg';
import Box from '@/assets/icons/package.svg';

const packageItems = [
  {
    title: "Party Essentials",
    items: [
      "Enjoy Four Hours of Party Fun",
      "Package Accommodates Up to 50 Guests",
      "One Hour of Setup Time Provided",
    ],
  },
  {
    title: "Activities and Entertainment",
    items: [
      "Access to the Petting Zoo",
      "Access to Playground",
      "Access to Jumper",
    ],
  },
  {
    title: "Food and Refreshments",
    items: [
      "Delicious Pizza and Juice for the Kids",
      "Self-Serve Coffee and Tea Station (Cups and Creamer Included)",
    ],
  },
  {
    title: "Décor and Dining",
    items: [
      "Elegant Wooden Dining Tables and Acrylic Chiavari Chairs",
      "Includes Three Stylish Cake Stands",
    ],
  },
  {
    title: "Special Features",
    items: [
      "Memorable Cake Ceremony: Singing, Cutting, and Serving",
      "Convenient Transportation from Valet to Venue",
    ],
  },
];
---

<section id="package" class="max-w-7xl mx-auto pb-20 px-5 text-primary-foreground">
  <div class="flex max-lg:flex-col max-lg:gap-5">
    <div class="flex-1 flex justify-center max-lg:order-last opacity-0" data-inview="animate-fade-up">
    <Card>
      <h3 class="text-xl text-center">Legen-Dairy</h3>
      <div class="h-[1px] w-full bg-accent my-5"></div>
      <div class="space-y-2">
        {packageItems.map((section) => (
          <h4>{section.title}</h4>

          <ul>
            {section.items.map((item) => (
              <li class="flex items-center gap-2"><Check class="fill-accent stroke-surface size-[30px] flex-none" /><span class="text-sm ">{item}</span></li>
            ))}
          </ul>
          
        ))}
      </div>
    </Card>
    </div>
    <div class="flex-1 flex flex-col justify-center items-center max-lg:order-first gap-2">
      <Box class="size-15 opacity-0" data-inview="animate-fade-up" />
      <h2 class="opacity-0"  data-inview="animate-fade-up">Event Package</h2>
      <p class="text-center min-sm:max-w-[370px] opacity-0 text-primary-foreground/80" data-inview="animate-fade-up">Everything you need for the perfect celebration. Our comprehensive package includes all essentials for an unforgettable party experience.</p>
    </div>
  </div>
  <div class="flex justify-center mt-20">
      <Button className='hover:-translate-y-1 transition-transform duration-300' rounded='lg' variant='accent' link href="/terms">Event Terms & Conditions</Button>
  </div>
  <InView />
</section>
