---
import { Layout } from "@/layouts";
import {
  Gallery,
  Hero,
  Welcome,
  Amenities,
  Package,
  Experience,
  Contact,
  Reviews,
  Footer,
  Header,
} from "@/components/sections";
---

<Layout>
  <Header />
  <main class="relative">
    <Hero />
    <Welcome />
    <Gallery />
    <div
      class="bg-linear-to-br/oklch from-primary to-[oklch(0.5954_0.0875_218.03)]"
    >
      <Amenities />
      <Package />
    </div>
    <Experience />
    <Reviews />
    <Contact client:load />
    <Footer />
  </main>
</Layout>
