---
import "@/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta
      name="description"
      content="Welcome to MY RANCH, a private kid's party venue nestled in Shadow Hills. Spread across 3 acres with stunning 360° views and a charming pomegranate orchard, we offer a personalized and unforgettable party experience. Host your own private ranch day, complete with a petting zoo and kid-friendly activities. Create lasting memories with your children and guests in a one-of-a-kind setting!"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <slot />
  </body>
</html>
