---
import type { HTMLAttributes } from "astro/types";
import { clsx } from "clsx";

type Props = HTMLAttributes<"div"> & {
  className?: string;
};

const { className, ...props } = Astro.props;
---

<div
  class={clsx(
    "bg-surface text-secondary-foreground rounded-xl p-10 border border-border-light shadow-2xl",
    className,
  )}
  {...props}
>
  <slot />
</div>
